.outerClasses{
	display: flex;
	align-items: center;
	justify-content: center;
}
.reveal-from-bottom{
	font-size:2rem;
	padding-top: 20px;
	text-align: center;
	color: #fff;
}
.video-responsive {
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 10.25%;
	position: relative;
	height: 0;
  }
  
  .video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
  }
  