@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@font-face {
    font-family: myFirstFont;
    src: url("../assets/fonts/angrybirds-regular.ttf");
}

html {
	--pokename: #000;
	--cardborder: #fff;
	--pokenumber: hsl(228, 28%, 20%);
	--info: #fff;
	--bggradient: url("../assets/images/bg.jpg");
	--bgcolor: none;
}

html[data-theme=dark] {
	--pokename: hsl(228, 28%, 20%);
	--cardborder: hsl(228, 28%, 20%);
	--pokenumber: hsl(228, 28%, 20%);
	--info: hsl(228, 28%, 20%);
	--bggradient: url("../assets/images/bg-dark.png");
	--bgcolor: #16171f;
}

.wrapper{
	display: block;
	overflow-y: hidden;
  }
  
  .link_wrapper{
	position: relative;
	display: flex!important;
	align-items: right!important;
	text-align: center;
	justify-content: flex-end!important;
	overflow: hidden;
  }
  footer{
	width: 100%;
	line-height: 50px;
	background: #ff7230;
	color: #fff;
  }
  footer p{
	margin: 0;
	font-size: large;
  }
  .homebtn{
	  font-family: myFirstFont;
	display:flex;
	align-items: flex-end!important;
    justify-content: center;
    width: 90px;
    height: 51px;
    line-height: 20px;
    font-size: large;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 3px solid #333;
    transition: all .35s;
    padding-bottom: 10px;
    overflow: hidden;

  }
  
  .icon{
	width: 50px;
	height: 50px;
	border: 3px solid transparent;
	position: absolute;
	transform: rotate(45deg);
	right: 0;
	top: 0;
	z-index: -1;
	transition: all .35s;
  }
  
  .icon svg{
	width: 30px;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	transform: rotate(-45deg);
	fill: #2ecc71;
	transition: all .35s;
  }
  
  .homebtn:hover{
	width: 150px;
	border: 3px solid #2ecc71;
	background: transparent;
	color: #2ecc71;
  }
  
  .homebtn:hover + .icon{
	border: 3px solid #2ecc71;
	right: -25%;
  }
.info__container {
	width: 100%;
	display: flex;
	flex-direction: row;

}

.info__container__data {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.info__container__img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	background: #ffffff78;
	padding: 20px 20px;
}

.info__container__img img {
	width: 120px;
	height: 147px;
	padding: 1rem 1rem;
	margin: 0.3rem;
	border-radius: 1.2rem;
}

.pokemon__name {
	font-size: 22px;
	text-transform: capitalize;
}

.pokemon__id {
	color: var(--pokenumber);
	font-family: 'Pokemon Solid', sans-serif;
	font-weight: 400;
	font-size: 40px;
}

.info__container__data__header {
	align-items: center;
	justify-content: space-between;
	display: flex;

}

.info__container__data__type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.info__container__data__type img {
	height: 20px;
	width: 20px;
}

.info__container__headings {
	font-family: myFirstFont;
	font-size: 30px;
	font-weight: 600;
}

.info__container__data__abilities {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.info__container__data__data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* grid-gap: 0px 15px;
	gap: 0px 15px; */
	align-items: center;
	margin: 0px 0;
	/* justify-conten; */
	background-color: #ffffff40;
	padding: 10px;
	border-radius: 1rem;
	margin-top: 0.5rem;

}

.info__container__stat__columns {
	width: 135px;
	margin-right: 0px;

}

.MuiDialog-paperFullWidth {

	border-radius: 1rem;
	box-shadow: 0 10px 20px rgba(175, 136, 136, 0.29), 0 6px 6px rgba(0, 0, 0, 0.43);
}

.MuiDialog-container {
	background-color: var(--bgcolor);
	background-image: var(--bggradient);
	width: 100%;
	height: 100%;

}

.MuiBackdrop-root {
	background-color: rgba(0, 0, 0, 0);
}

.info__container__data__dimensions {
	display: flex;
	gap: 0 30px;

}

.info__container__stat__columns__name {
	text-transform: uppercase;
	color: rgb(58, 146, 46);
}

.dialog__bg {
	background-image: url("../assets/images/bg.jpg") center center;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
}

.dialog__content {
	font-family: 'VT323', monospace;
	font-size: 21px;

}

.pokemon__name {
	font-family: 'Comic Sans Sheriff', cursive;
}

.close__btn {
	width: 30px !important;
}

.ability {
	text-transform: capitalize;
}
.divide1{
	float: left;
	display: flex;
}
.divide {
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    padding-top: 5rem;
}
.right__box {
	display: flex;
	flex-direction: column;
	height: -webkit-fill-available;
	justify-content: space-evenly;
	gap: 3px 0px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.evolution__box {
	display: flex;
	gap: 0 0px;
}

.evolution__sub__box {
	display: flex;
	align-items: center;
	text-align: center;
}

.evolution__box .evo_img {
	width: 100px;
	height: 100px;
	margin: auto;
	display: flex;
	cursor: pointer;
}

/* .evolution__img__div:hover {
	transform: scale(1.05);
} */

.evolution__img__div {
	height: 150px;
	width: 150px;
	display: flex;
	border-radius: 50%;
	box-shadow: 0 5px 15px 4px rgb(0 0 0 / 30%);
	align-items: center;
	justify-content: center;
	transition: all 0.35s;
	margin-top: 3vh;
}

.evolution__poke__name {
	text-transform: capitalize;
	margin: 10px 0;
}

.arrow__right {
	font-size: 1.75rem;
	margin: 0 10px;
}

.MuiDialogContent-root:first-child {
	padding: 10px;
}

.ability__list {
	display: flex;
	gap: 0 15px;
	padding-inline-start: 1em;
}

.ability__list__bg {
	background-color: #ffffff40;
	padding: 5px;
	border-radius: 1rem;
	margin-top: 0.5rem;
}

.MuiTooltip-tooltip {
	font-size: 20px !important;
}

.separator {
	border: 0;
	border-radius: 20px;
	height: 80;
	background-image: linear-gradient(to bottom, rgb(77, 77, 77), rgb(77, 77, 77));
	width: 1%;
	margin-left: 2vw;
	margin-right: auto;
}

.transparency__div {
	background: #ffffff40;
	height: 113px;
	width: 113px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desc {
	font-family: myFirstFont;
	background-color: #ffffff40;
	padding: 10px;
	border-radius: 1rem;
	margin-top: 0.5rem;
}

.fa-mars {
	color: #7070ff;
}

.fa-venus {
	color: rgb(224, 61, 88)
}

.dimensions {
	text-align: center;
}

.pokemon__genera {
	padding: 3px 10px;
	border-radius: 10px;
	margin-top: 1.5vh;
	text-align: center;
}

/* phone */

@media screen and (max-width: 767px) {
	.MuiDialog-paperFullWidth {
		width: 75%;
		height: 100%;
	}
	.link_wrapper{
		position: relative;
		display: flex!important;
		align-items: right!important;
		text-align: center;
		justify-content: flex-end!important;
		overflow: hidden;
	  }
	.info__container {
		display: flex;
		flex-direction: column;
	}
	.info__container__img {
		margin-left: 0px;
	}
	.info__container__data {
		margin-left: 0px;
	}
	.right__box {
		margin-top: 20px;
		justify-content: center;
		align-items: center;
	}
	.info__container__data__data {
		justify-content: center;
	}
	.info__container__stat__columns__name, .info__container__stat__columns__val, .stats, .dimensions, .ability {
		font-family: myFirstFont;

		text-align: center;
	}
	.info__container__data__abilities {
		margin-top: 20px;
		align-items: center;
		gap: 0px;
	}
	.right__box .desc {
		text-align: center;
	}
	.info__container__headings {
		font-family: myFirstFont;
		text-align: center;
		margin-top: 10px;
	}
	.evolution__box {
		flex-direction: column;
	}
	.evolution__sub__box {
		flex-direction: column;
	}
	.arrow__right {
		transform: rotate(90deg);
	}
	.evolution__poke__name {
		margin: 12px;
	}
}